
.EUDC{
    @font-face {
        font-family: 'EUDC';
        src: url('../assets/EUDC.TTE');
      }
      @font-face {
        font-family: 'EUDC';
        src: url('../assets/EUDC.EUF');
      }
      @font-face {
        font-family: 'EUDC';
        src: url('../assets/EUDC.TTF');
      }
      :global{
        .ant-table{
            font-family:'EUDC' !important
          }
      }
      
}