<template>
    <p class="notpageerr">没有找到此页面,将在<span v-text='lefttime'></span>秒后跳转到主菜单</p>
</template>
<script>
export default {
    data(){
        return{
            lefttime:5
        }
    },
    mounted(){
        this.countdown().then(
            end=>this.$router.push('/mainmenu')
        )
    },
    methods:{
        countdown(){
            return new Promise((resolve,reject)=>{
                setInterval(()=>{
                    
                    if(this.lefttime===0){
                        resolve()
                    }else{
                        this.lefttime=this.lefttime-1;
                    }
                },1000)
            })
        }
    }
}
</script>

<style>
    .notpageerr{
        text-align: center;
        margin-top: 40vh;
        font-size: 30px;
        color:#2ECC71;
    }
</style>
