<template>
  <div>
    <a-modal v-model="filtervisible" :footer="null" @cancel="handleCancel">
      <a-tabs defaultActiveKey="1">
        <a-tab-pane tab="" key="1">
            <a-form :form="form" @submit="addfilter">
    <a-form-item label="系统码" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
      <a-input
        v-decorator="[  
          'SysCode',
          { rules: [{ required: true, message: '请输入系统码' }] }
          
        ]"
      />
    </a-form-item>
    <a-form-item label="模块码" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
      <a-input
        v-decorator="[  
          'ModCode',
          { rules: [{ required: true, message: '请输入模块码' }] }
        ]"
      />
    </a-form-item>
    <a-form-item :wrapper-col="{ span: 12, offset: 5 }">
      <a-button type="primary" html-type="submit">点击筛选</a-button>
    </a-form-item>
  </a-form>
        </a-tab-pane>
      </a-tabs>
    </a-modal>
    <a-modal :visible="visible" :maskClosable="true" @cancel="handleCancel" :footer="null">
      <a-tabs defaultActiveKey="1">
        <a-tab-pane tab="单条添加" key="1">
            <a-form :form="form" @submit="handleSubmit">
    <a-form-item label="系统码" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
      <a-input
        v-decorator="[  
          'SysCode',
          {rules: [{ required: true, message: '此处不能为空!' }],},
          
        ]"
      />
    </a-form-item>
    <a-form-item label="模块码" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
      <a-input
        v-decorator="[  
          'ModCode',
          {rules: [{ required: true, message: '此处不能为空!' }],}
        ]"
      />
    </a-form-item>
    <a-form-item label="描述" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
      <a-input
        v-decorator="[  
          'Description',
          {rules: [{ required: true, message: '此处不能为空!' }]}
        ]"
      />
    </a-form-item>
    <a-form-item label="Key" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
      <a-input
        v-decorator="[  
          'Key',
          {rules: [{ required: true, message: '此处不能为空!' }]}
        ]"
      />
    </a-form-item>

    <a-form-item :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }" label="是否为硬件码">
      <a-switch 
      v-decorator="['IsHardCoded', { initialValue: false }]"/>
    </a-form-item>
    <a-form-item :wrapper-col="{ span: 12, offset: 5 }">
      <a-button type="primary" html-type="submit">添加</a-button>
    </a-form-item>
  </a-form>
        </a-tab-pane>
      </a-tabs>
    </a-Modal>
    <div style="margin:-15px 0 5px 5px">
       <a-tooltip placement="bottom" :visible="help===1">
        <template slot="title">
            <span>此处用于增加分类码,前面带红色*的为必须输入,其他可选</span>
        </template>
         <a-button
      style="margin-bottom:5px"
      type="primary"
      @click="()=>this.visible=true"
    >增加分类码</a-button>
      </a-tooltip>
       <a-tooltip placement="bottom" :visible="help===2">
        <template slot="title">
            <span>此处通过输入筛选条件对所有数据进行筛选，并非当前页码下的筛选,筛选为模糊匹配方式,只需输入部分即可进行筛选</span>
        </template>
        <a-button
      style="margin-bottom:5px"
      type="primary"
      @click="()=>this.filtervisible=true"
    >查询</a-button>
      </a-tooltip>
       <a-tooltip placement="bottom" :visible="help===3">
        <template slot="title">
            <span>此处用于清除筛选条件</span>
        </template>
       <a-button
      style="margin-bottom:5px"
      type="primary"
      @click="resetdata"
    >初始化</a-button>
      </a-tooltip>
     
    
    
    <a-button
      style="margin-bottom:5px"
      type="primary"
      @click="userHelp"
      v-text="helpbtnname"
    ></a-button>
    </div>
    <a-table :columns="columns" :dataSource="data" bordered :rowKey="record=>record.Key+record.Description" :scroll="{ x: 2000,y:650 }" :pagination='{defaultPageSize:this.pagesize,hideOnSinglePage:true,total}' @change='pagenumberchange' :loading='loading'>
      <template slot="operation" slot-scope="text, record">
        <div class="editable-row-operations">
          <span>
           
       <a @click="() => seedetail(record)">查看详情</a>
     
            
          </span>
        </div>
      </template>
    </a-table>
  </div>
</template>
<script>
const columns = [
  {
    title: "序号",
    dataIndex: "index",
    width: "10%",
    scopedSlots: { customRender: "index" }
  },
  {
    title: "系统码",
    dataIndex: "SysCode",
    width: "20%",
    scopedSlots: { customRender: "SysCode" }
  },
  {
    title: "模块码",
    dataIndex: "ModCode",
    width: "20%",
    scopedSlots: { customRender: "ModCode" }
  },
  {
    title: "描述",
    dataIndex: "Description",
    width: "30%",
    scopedSlots: { customRender: "Description" }
  },
  {
    title: "操作",
    dataIndex: "operation",
    scopedSlots: { customRender: "operation" }
  }
];

const data = [];
import axios from "axios";
export default {
  data() {
    this.cacheData = data.map(item => ({ ...item }));
    return {
      data,
      columns,
      visible:false,
      filtervisible:false,
      formLayout: "horizontal",
      form: this.$form.createForm(this),
      pagesize:20,
      total:new Number,
      loading:false,
      help:0,
      helpbtnname:'帮助',
      filterurl:''
    };
  },
  mounted() {
    this.loading=true
    axios.get(`/api/codes?page=1&limit=${this.pagesize}`).then(res => {
      this.addindex(res.data.data)
      this.data=res.data.data;
      this.total=res.data.meta.Total;
      this.loading=false
    });
  },
  methods: {
    userHelp(){
      if(this.help<3){
        this.help=this.help+1
        if(this.help ===3){
          this.helpbtnname = '我知道了'
        }else{
          this.helpbtnname = '下一个'
        }
      }else{
        this.help = 0
        this.helpbtnname = '帮助'
      }
    },
    resetdata(){
      this.loading=true
    axios.get(`/api/codes?page=1&limit=${this.pagesize}`).then(res => {
      this.addindex(res.data.data)
      this.data=res.data.data;
      this.total=res.data.meta.Total;
      this.loading=false
    });
    },
    addindex(arr){
      for(let i=0;i<arr.length;i++){
        arr[i].index=i+1
      }
    },
    pagenumberchange(v){
      if(this.filterurl.length!==0){

      }else{
        this.loading=true
      axios.get(`/api/codes?page=${v.current}&limit=${this.pagesize}${this.filterurl}`).then(res => {
      this.data = res.data.data;
      this.total=res.data.meta.Total;
      this.loading=false
       });
      }

   
    },
    seedetail(record) {
      this.$router.push(
        {
          name:"codedetail",
          params:{
            ...record
          }
        }
      );
    },
    handleCancel(){
      this.visible=false;
      this.form.resetFields();
    },
    addfilter(e){
      e.preventDefault();
      this.form.validateFields((err, values) => {
        if (!err) {
          let url=`/api/codes/section?page=1&limit=${this.pagesize}`
          let url1='';
      for(let i in values){
        if(!!values[i]){
          url1 += `&${i.toLowerCase()}=${values[i]}`
        }
        url+=url1;
        this.filterurl = url1;
      }
      axios.get(url).then(res=>{
        this.addindex(res.data)
        this.data=res.data
        this.total = res.data.length;
        this.filtervisible = false;
        this.form.resetFields();
      })
      }})
    },
    handleSubmit(e) {
      let add = {
        Point01: 1,
        Point02: 1,
        Point03: 1,
        Point04: 1,
        String01: "",
        String02: "",
        String03: "",
        String04: "",
        IsTag: true,
        Date01: 0,
        Date02: 0,
        Date03: 0,
        Date04: 0,
        Audit: {}
      };
      e.preventDefault();
      this.form.validateFields((err, values) => {
        if (!err) {

          axios
            .get(
              `/api/codes/checkExistence?syscode=${
                values.SysCode
              }&modcode=${values.ModCode}&key=${values.Key}`
            )
            .then(res => {
              if (res.data) {
                this.$message.error("值不唯一");
              } else {
                axios
                  .post(
                    "/api/codes",
                    JSON.stringify({
                      ...values,
                      ...add
                    }),
                    {
                      headers: {
                        "Content-Type": "application/json",
                        "Csrf-Token": "nocheck"
                      }
                    }
                  )
                  .then(res => {
                    if (res.data.Status === "0") {
                      this.$message.success("保存成功");
                      //this.form.resetFields();
                      window.location.reload();
                    }
                  });
              }
            });
        }
      });
    }
  }
};
</script>
<style scoped>
.editable-row-operations a {
  margin-right: 8px;
}
#components-layout-demo-custom-trigger
  > div.ant-layout
  > div.ant-layout-content
  > div {
  user-select: none;
}
</style>