<template >
  <a-form :form="form" @submit="handleSubmit">
    <a-form-item label="系统码" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
      <a-input
        :disabled="noeditble"
        v-decorator="[  
          'SysCode',
          {rules: [{ required: true, message: '此处不能为空!' }],initialValue:this.$route.params.SysCode},
        ]"
      />
    </a-form-item>
    <a-form-item label="模块码" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
      <a-input
        :disabled="noeditble"
        v-decorator="[  
          'ModCode',
          {rules: [{ required: true, message: '此处不能为空!' }],initialValue:this.$route.params.ModCode}
        ]"
      />
    </a-form-item>
    <a-form-item label="Key" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
      <a-input
        :disabled="noeditble"
        v-decorator="[  
          'Key',
          {rules: [{ required: true, message: '此处不能为空!' }],initialValue:this.$route.params.Key}
        ]"
      />
    </a-form-item>
    <a-form-item label="描述" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
      <a-input
        :disabled="noeditble"
        v-decorator="[  
          'Description',
          {rules: [{ required: true, message: '此处不能为空!' }],initialValue:this.$route.params.Description}
        ]"
      />
    </a-form-item>
    <a-form-item :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }" label="是否为硬件码">
      <a-switch
        :disabled="noeditble"
        v-decorator="[
        'IsHardCoded',
         {rules: [],initialValue:this.$route.params.IsHardCoded}]"
      />
    </a-form-item>
    <a-form-item :wrapper-col="{ span: 12, offset: 5 }">
      <a-button type="primary" html-type="submit">{{noeditble?"编辑":"保存"}}</a-button>
      <span>
        <a-popconfirm title="确定要删除吗?" @confirm="this.deletecode" okText="确定" cancelText="取消">
          <a-button type="danger">删除</a-button>
        </a-popconfirm>
      </span>
    </a-form-item>
  </a-form>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      formLayout: "horizontal",
      form: this.$form.createForm(this),
      noeditble: true
    };
  },
  mounted() {},
  methods: {
    handleSubmit(e) {
      e.preventDefault();
      if (this.noeditble === true) {
        this.noeditble = false;
      } else {
        this.noeditble = true;
        this.form.validateFields((err, values) => {
          if (!err) {
            let add = {
              Point01: 1,
              Point02: 1,
              Point03: 1,
              Point04: 1,
              String01: "",
              String02: "",
              String03: "",
              String04: "",
              IsTag: true,
              Date01: 0,
              Date02: 0,
              Date03: 0,
              Date04: 0,
              Audit: {},
              Key: "1"
            };
            axios
              .put(
                "/api/codes",
                JSON.stringify({
                  ...add,
                  ...values
                }),
                {
                  headers: {
                    "Content-Type": "application/json",
                    "Csrf-Token": "nocheck"
                  }
                }
              )
              .then(res => {
                if (res.data.Status === "0") {
                  this.$message.success("修改成功");
                  this.$router.push("/mainmenu/codelist");
                } else {
                  this.$message.error("修改失败");
                }
              });
          }
        });
      }
    },
    deletecode() {
      let add = {
        Point01: 1.1,
        Point02: 1.1,
        Point03: 1.1,
        Point04: 1.1,
        String01: "123",
        String02: "123",
        String03: "123",
        String04: "123",
        IsTag: true,
        Date01: 0,
        Date02: 0,
        Date03: 0,
        Date04: 0,
        Audit: {}
      };
      let now = {
        SysCode: this.$route.params.SysCode,
        ModCode: this.$route.params.ModCode,
        Key: this.$route.params.Key,
        Description: this.$route.params.Description
      };
      axios
        .delete("/api/codes", {
          data: JSON.stringify({
            ...now,
            ...add
          }),
          headers: {
            "Content-Type": "application/json",
            "Csrf-Token": "nocheck"
          }
        })
        .then(res => {
          if (res.data.Status === "0") {
            this.$message.success("删除成功");
            this.$router.push("/mainmenu/codelist");
          } else {
            this.$message.error("删除失败");
          }
        });
    }
  }
};
</script>