<template>
  <div>
    <a-modal :visible="filtervisible" :maskClosable="true" @cancel="handleCancel" :footer="null">
      <a-tabs defaultActiveKey="1">
        <a-tab-pane tab="设置条件" key="1">
          <a-form id="components-form-demo-normal-login" :form="form" @submit="exportfilterexcel">
            <a-form-item label="设备编号" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
              <a-input v-decorator="[  
          'code',
          {rules: []}
        ]"/>
            </a-form-item>
            <a-form-item label="设备ID" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
              <a-input
                v-decorator="[  
          'no',
          {rules: []},
          
        ]"
              />
            </a-form-item>
            <a-form-item label="设备名称" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
              <a-input v-decorator="[  
          'name',
          {rules: []}
        ]"/>
            </a-form-item>

            <a-form-item label="型号规格" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
              <a-input v-decorator="[  
          'modeno',
          {rules: []}
        ]"/>
            </a-form-item>
            <a-form-item label="出厂编号" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
              <a-input v-decorator="[  
          'manufno',
          {rules: []}
        ]"/>
            </a-form-item>
            <a-form-item label="检定时间" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
              <a-range-picker v-decorator="['checkdate' ]"></a-range-picker>
            </a-form-item>
            <a-form-item label="有效时间" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
              <a-range-picker v-decorator="['effectivedate' ]"></a-range-picker>
            </a-form-item>
            <a-form-item label="周检时间" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
              <a-range-picker v-decorator="['nextcheckdate' ]"></a-range-picker>
            </a-form-item>

            <a-form-item>
              <a-button
                style="width:100%"
                type="primary"
                html-type="submit"
                class="login-form-button"
              >点击筛选显示</a-button>
            </a-form-item>
          </a-form>
        </a-tab-pane>
      </a-tabs>
    </a-modal>
    <a-modal
      :visible="visible"
      :maskClosable="true"
      @cancel="handleCancel"
      :footer="null"
      :width="1100"
    >
      <a-tabs defaultActiveKey="1">
        <a-tab-pane tab="单条添加" key="1" forceRender>
          <a-form id="components-form-demo-normal-login" :form="form" @submit="addnewequipment">
            <a-row>
              <a-col :md="6">
                <a-form-item label="设备编号" :label-col="{ span: 7 }" :wrapper-col="{span: 12 }">
                  <a-input
                    v-decorator="[  
          'Code',
          {rules: [{ required: true, message: '此处不能为空!' }]}
        ]"
                  />
                </a-form-item>
              </a-col>

              <a-col :md="6">
                <a-form-item label="设备ID" :label-col="{ span: 7 }" :wrapper-col="{ span: 12 }">
                  <a-input
                    v-decorator="[  
          'No',
          {rules: [{ required: true, message: '此处不能为空!' }]},
          
        ]"
                  />
                </a-form-item>
              </a-col>

              <a-col :md="6">
                <a-form-item label="设备名称" :label-col="{ span: 7 }" :wrapper-col="{ span: 12 }">
                  <a-input
                    v-decorator="[  
          'Name',
          {rules: [{ required: true, message: '此处不能为空!' }]}
        ]"
                  />
                </a-form-item>
              </a-col>
              <a-col :md="6">
                <a-form-item label="拼音" :label-col="{ span: 7 }" :wrapper-col="{ span: 12 }">
                  <a-input v-decorator="[  
          'Pinyin',
          {rules: []}
        ]"/>
                </a-form-item>
              </a-col>
              <a-col :md="6">
                <a-form-item label="检定日期" :label-col="{ span: 7 }" :wrapper-col="{ span: 12 }">
                  <a-date-picker
                    v-decorator="[  
          'Source.CheckDate',
          {rules: [{ required: true, message: '此处不能为空!' }],}
        ]"
                  />
                </a-form-item>
              </a-col>
              <a-col :md="6">
                <a-form-item label="有效日期" :label-col="{ span: 7 }" :wrapper-col="{ span: 12 }">
                  <a-date-picker
                    v-decorator="[  
          'Source.EffectiveDate',
          {rules: [{ required: true, message: '此处不能为空!' }],}
        ]"
                  />
                </a-form-item>
              </a-col>
              <a-col :md="6">
                <a-form-item label="购进日期" :label-col="{ span: 7 }" :wrapper-col="{ span: 12 }">
                  <a-date-picker
                    v-decorator="[  
          'Source.ProcuDate',
          {rules: [{ required: true, message: '此处不能为空!' }],}
        ]"
                  />
                </a-form-item>
              </a-col>
              <a-col :md="6">
                <a-form-item label="周检日期" :label-col="{ span: 7 }" :wrapper-col="{ span: 12 }">
                  <a-date-picker
                    v-decorator="[  
          'Source.NextCheckDate',
          {rules: [{ required: true, message: '此处不能为空!' }],}
        ]"
                  />
                </a-form-item>
              </a-col>
              <a-col :md="8">
                <a-form-item label="型号规格" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
                  <a-input
                    v-decorator="[  
          'ModeNo',
          {rules: [{ required: true, message: '此处不能为空!' }]}
        ]"
                  />
                </a-form-item>
              </a-col>
              <a-col :md="8">
                <a-form-item label="出厂编号" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
                  <a-input
                    v-decorator="[  
          'ManufNo',
          {rules: [{ required: true, message: '此处不能为空!' }]}
        ]"
                  />
                </a-form-item>
              </a-col>
              <a-col :md="8">
                <a-form-item label="测量范围" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
                  <a-input
                    v-decorator="[  
          'CheckRange',
          {rules: [{ required: true, message: '此处不能为空!' }]}
        ]"
                  />
                </a-form-item>
              </a-col>
              <a-col :md="8">
                <a-form-item label="不确定度" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
                  <a-input
                    v-decorator="[  
          'Uncertainty',
          {rules: [{ required: true, message: '此处不能为空!' }]}
        ]"
                  />
                </a-form-item>
              </a-col>
              <a-col :md="8">
                <a-form-item label="制造厂商" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
                  <a-input
                    v-decorator="[  
          'Producer',
          {rules: [{ required: true, message: '此处不能为空!' }]}
        ]"
                  />
                </a-form-item>
              </a-col>
              <a-col :md="8">
                <a-form-item label="用途" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
                  <a-input
                    v-decorator="[  
          'Usage',
          {rules: [{ required: true, message: '此处不能为空!' }],}
        ]"
                  />
                </a-form-item>
              </a-col>
              <a-col :md="8">
                <a-form-item label="档案号" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
                  <a-input
                    v-decorator="[  
          'FileNo',
          {rules: [{ required: true, message: '此处不能为空!' }],}
        ]"
                  />
                </a-form-item>
              </a-col>
              <a-col :md="8">
                <a-form-item label="器具类型" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
                  <a-input
                    v-decorator="[  
          'InstruementType',
          {rules: [],}
        ]"
                  />
                </a-form-item>
              </a-col>
              <a-col :md="8">
                <a-form-item label="提供人员" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
                  <a-input
                    v-decorator="[  
          'Source.Provider',
          {rules: [{ required: true, message: '此处不能为空!' }],}
        ]"
                  />
                </a-form-item>
              </a-col>
              <a-col :md="8">
                <a-form-item label="所属科室" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
                  <a-input
                    v-decorator="[  
          'Source.OwnDept',
          {rules: [{ required: true, message: '此处不能为空!' }],}
        ]"
                  />
                </a-form-item>
              </a-col>
              <a-col :md="8">
                <a-form-item label="保管人员" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
                  <a-input
                    type="Number"
                    v-decorator="[  
          'Source.Keeper',
          {rules: [{ required: true, message: '此处不能为空!' }],}
        ]"
                  />
                </a-form-item>
              </a-col>
              <a-col :md="8">
                <a-form-item label="检定单位" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
                  <a-input
                    v-decorator="[  
          'Source.CheckUnit',
          {rules: [{ required: true, message: '此处不能为空!' }],}
        ]"
                  />
                </a-form-item>
              </a-col>
              <a-col :md="8">
                <a-form-item label="溯源方式" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
                  <a-input
                    v-decorator="[  
          'Source.SourceWay',
          {rules: [{ required: true, message: '此处不能为空!' }],}
        ]"
                  />
                </a-form-item>
              </a-col>
              <a-col :md="8">
                <a-form-item label="证书号码" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
                  <a-input
                    v-decorator="[  
          'Source.CertNo',
          {rules: [{ required: true, message: '此处不能为空!' }],}
        ]"
                  />
                </a-form-item>
              </a-col>

              <a-col :md="8">
                <a-form-item label="购进金额" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
                  <a-input
                    v-decorator="[  
          'Source.ProcuPrice',
          {rules: [{ required: true, message: '此处不能为空!' }],}
        ]"
                  />
                </a-form-item>
              </a-col>

              <a-col :md="8">
                <a-form-item label="检定周期" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
                  <a-input
                    type="Number"
                    placeholder='单位:月'
                    v-decorator="[  
          'Source.CheckInterval',
          {rules: [{ required: true, message: '此处不能为空!' }],}
        ]"
                  />
                </a-form-item>
              </a-col>

              <a-col :md="8">
                <a-form-item label="说明" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
                  <a-input
                    v-decorator="[  
          'Source.Memo',
          {rules: [{ required: true, message: '此处不能为空!' }],}
        ]"
                  />
                </a-form-item>
              </a-col>

              <a-col :md="8">
                <a-form-item label="溯源要求" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
                  <a-input
                    v-decorator="[  
          'Source.SourceReq',
          {rules: [{ required: true, message: '此处不能为空!' }],}
        ]"
                  />
                </a-form-item>
              </a-col>
              <a-col :md="8">
                <a-form-item label="状态" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
                  <a-input
                    v-decorator="[  
          'Status',
          {rules: [{ required: true, message: '此处不能为空!' }],}
        ]"
                  />
                </a-form-item>
              </a-col>
              <a-col :md="8">
                <a-form-item label="是否标准器" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
                  <a-switch :defaultChecked="false" v-decorator="['IsStandard']"/>
                </a-form-item>
              </a-col>

              <a-col :md="8">
                <a-form-item>
                  <a-button
                    style="width:70%"
                    type="primary"
                    html-type="submit"
                    class="login-form-button"
                  >点击添加</a-button>
                </a-form-item>
              </a-col>
            </a-row>
          </a-form>
        </a-tab-pane>
        <a-tab-pane tab="上传excel" key="2">
          <a-upload-dragger
            name="file"
            action="/api/file/equipments/import"
            :multiple="true"
            @change="handleChange"
          >
            <p class="ant-upload-drag-icon">
              <a-icon type="inbox"/>
            </p>
            <p class="ant-upload-text">点击此处或者直接拖拽Excel到此处</p>
            <p class="ant-upload-hint">在上传前请确保Excel的格式正确</p>
          </a-upload-dragger>
        </a-tab-pane>
      </a-tabs>
    </a-modal>
    <div style="margin:-15px 0 5px 5px">
      <a-tooltip placement="bottom" :visible="help===1">
        <template slot="title">
            <span>此处选中时表示选中所有当前页码显示的表格中的数据</span>
        </template>
         <a-checkbox @change="allchecked" :checked="Allchecked">全部选中</a-checkbox>
        </a-tooltip>
        <a-tooltip placement="bottom" :visible="help===2">
        <template slot="title">
            <span>此处用于增加新的设备信息,分为直接输入和上传Excel两种方式</span>
        </template>
          <a-button type="primary" style="margin-bottom:5px;" @click="()=>this.visible=true">增加设备</a-button>
        </a-tooltip>
        <a-tooltip placement="bottom" :visible="help===3">
        <template slot="title">
            <span>此处用于打印选中的设备的二维码</span>
        </template>
          <a-button type="primary" style="margin-bottom:5px;" @click="printcode">打印条形码</a-button>
        </a-tooltip>
        <a-tooltip placement="bottom" :visible="help===4">
        <template slot="title">
            <span>此处通过输入筛选条件对所有数据进行筛选，并非当前页码下的筛选,筛选为模糊匹配方式,只需输入部分即可进行筛选</span>
        </template>
         <a-button type="primary" style="margin-bottom:5px;" @click="exportfilter">查询</a-button>
        </a-tooltip>
        <a-tooltip placement="bottom" :visible="help===5">
        <template slot="title">
            <span>此处用于导出所有页码下的设备信息的Excel,筛选条件也适用于此处,需要导出全部数据请先清除筛选条件</span>
        </template>
         <a-button type="primary" style="margin-bottom:5px;" @click="exportexcel">导出Excel</a-button>
        </a-tooltip>
        <a-tooltip placement="bottom" :visible="help===6">
        <template slot="title">
            <span>此处用于清除筛选条件</span>
        </template>
          <a-button type="primary" style="margin-bottom:5px;" @click="resetdata">初始化</a-button>
        </a-tooltip>
     
     
      
      
      
      <a-button type="primary" style="margin-bottom:5px;" @click="userHelp" v-text="helpbtnname"></a-button>
    </div>
    <a-table
      class="EUDC"
      :columns="columns"
      bordered
      :dataSource="data"
      :scroll="{ x: 4800,y:631 }"
      :pagination="{defaultPageSize:this.pagesize,hideOnSinglePage:true,total}"
      @change="pagenumberchange"
      :loading="loading"
    >
      <template slot="Checked" slot-scope="Checked,record">
        <a-checkbox @change="changechecked(record.key)" :checked="Checked"></a-checkbox>
      </template>
      <template slot="IsStandard" slot-scope="IsStandard">
        <div class="editable-row-operations">
          <span>{{IsStandard?"是":"否"}}</span>
        </div>
      </template>
      <template slot="operation" slot-scope="text, record">
        <div class="editable-row-operations">
          <span>
           
           <a class="edit-a" @click="() => seesee(record.key)">查看详情</a>
           
          </span>
        </div>
      </template>
    </a-table>
  </div>
</template>
<script>
const columns = [
  {
    title: '勾选',
    dataIndex: "Checked",
    scopedSlots: { customRender: "Checked" },
    width: 50,
    fixed: "left"
  },
  {
    title: '序号',
    dataIndex: "index",
    scopedSlots: { customRender: "index" },
    width: 50,
    fixed: "left"
  },
  {
    title: "设备编号",
    dataIndex: "Code",
    scopedSlots: { customRender: "Code" },
    width: 120,
    fixed: "left"
  },
  {
    title: "设备名称",
    dataIndex: "Name",
    scopedSlots: { customRender: "Name" },
    width: 400,
    fixed: "left"
  },
  {
    title: "型号规格",
    dataIndex: "ModeNo",
    scopedSlots: { customRender: "ModeNo" },
    width: 200
  },
  {
    title: "出厂编号",
    dataIndex: "ManufNo",
    scopedSlots: { customRender: "ManufNo" },
    width: 350
  },
  {
    title: "测量范围",
    dataIndex: "CheckRange",
    width: 300
  },
  {
    title: "不确定度",
    dataIndex: "Uncertainty",
    width: 300
  },
  {
    title: "制造厂商",
    dataIndex: "Producer",
    width: 300
  },
  {
    title: "用途",
    dataIndex: "Usage",
    width: 200
  },
  {
    title: "档案号",
    dataIndex: "FileNo",
    width: 200
  },
  {
    title: "标准器",
    dataIndex: "IsStandard",
    scopedSlots: { customRender: "IsStandard" },
    width: 100
  },
  {
    title: "检定单位",
    dataIndex: "Source.CheckUnit",
    scopedSlots: { customRender: "CheckUnit" },
    width: 300
  },
  {
    title: "溯源方式",
    dataIndex: "Source.SourceWay",
    scopedSlots: { customRender: "SourceWay" },
    width: 150
  },
  {
    title: "检定日期",
    dataIndex: "Source.CheckDate",
    scopedSlots: { customRender: "CheckDate" },
    width: 200
  },
  {
    title: "检定周期",
    dataIndex: "Source.CheckInterval",
    scopedSlots: { customRender: "CheckInterval" },
    width: 200
  },
  {
    title: "证书号码",
    dataIndex: "Source.CertNo",
    scopedSlots: { customRender: "CertNo" },
    width: 400
  },
  {
    title: "有效日期",
    dataIndex: "Source.EffectiveDate",
    scopedSlots: { customRender: "EffectiveDate" },
    width: 200
  },
  {
    title: "购进金额",
    dataIndex: "Source.ProcuPrice",
    scopedSlots: { customRender: "ProcuPrice" },
    width: 150
  },
  {
    title: "周检日期",
    dataIndex: "Source.NextCheckDate",
    scopedSlots: { customRender: "NextCheckDate" },
    width: 200
  },
  {
    title: "购进日期",
    dataIndex: "Source.ProcuDate",
    scopedSlots: { customRender: "ProcuDate" },
    width: 200
  },
  {
    title: "说明",
    dataIndex: "Source.Memo",
    scopedSlots: { customRender: "Memo" },
    width: 150
  },
  
  // {
  //   title: "溯源要求",
  //   dataIndex: "Source.SourceReq",
  //   scopedSlots: { customRender: "SourceReq" },
  //   width: 100
  // },
  //  {
  //   title: "器具类型",
  //   dataIndex: "InstruementType",
  //   scopedSlots: { customRender: "InstruementType" },
  //   width: 150
  // },
  // {
  //   title: "提供人员",
  //   dataIndex: "Source.Provider",
  //   scopedSlots: { customRender: "Provider" },
  //   width: 50
  // },
  // {
  //   title: "所属科室",
  //   dataIndex: "Source.OwnDept",
  //   scopedSlots: { customRender: "OwnDept" },
  //   width: 50
  // },

  // {
  //   title: "状态",
  //   dataIndex: "Status",
  //   scopedSlots: { customRender: "Status" },
  //   width: 50
  // },
  // {
  //   title: "拼音",
  //   dataIndex: "Pinyin",
  //   scopedSlots: { customRender: "Pinyin" },
  //   width: 50
  // },
  {
    title: "操作",
    dataIndex: "operation",
    scopedSlots: { customRender: "operation" },
    fixed: "right",
    width: 100
  }
];

let data = [];

import axios from "axios";
import moment from "moment";
export default {
  data() {
    this.cacheData = data.map(item => ({ ...item }));
    return {
      data,
      columns,
      visible: false,
      Allchecked: false,
      filtervisible: false,
      items: [],
      excelurl: "/api/file/equipments/export",
      datatype: [],
      pagesize: 20,
      total: 20,
      loading: false,
      help:0,
      helpbtnname:'帮助',
      filterurl:'/api/equipments?'
    };
  },
  beforeCreate() {
    this.form = this.$form.createForm(this);
  },
  mounted() {
    this.loading=true
    axios.get(`/api/equipments?page=1&limit=${this.pagesize}`).then(res => {
      res.data.data.forEach(v => {
        v.key = v.No;
        v.Checked = false;
        v.Source.EffectiveDate = moment(v.Source.EffectiveDate).format(
          "YYYY-MM-DD HH:mm:ss"
        );
        v.Source.CheckDate = moment(v.Source.CheckDate).format(
          "YYYY-MM-DD HH:mm:ss"
        );
        v.Source.NextCheckDate = moment(v.Source.NextCheckDate).format(
          "YYYY-MM-DD HH:mm:ss"
        );
        v.Source.ProcuDate = moment(v.Source.ProcuDate).format(
          "YYYY-MM-DD HH:mm:ss"
        );
      });
      this.addindex(res.data.data)
      this.data = res.data.data;
      this.total = res.data.meta.Total;
      this.loading=false
    });
    axios.get("/api/codes/section?syscode=data&modcode=type").then(res => {
      this.datatype = res.data;
    });
  },
  methods: {
    userHelp(){
      if(this.help<6){
        this.help=this.help+1
        if(this.help ===6){
          this.helpbtnname = '我知道了'
        }else{
          this.helpbtnname = '下一个'
        }
      }else{
        this.help = 0
        this.helpbtnname = '帮助'
      }
    },  
    resetdata(){
      this.loading=true
    axios.get(`/api/equipments?page=1&limit=${this.pagesize}`).then(res => {
      res.data.data.forEach(v => {
        v.key = v.No;
        v.Checked = false
        v.Source.EffectiveDate = moment(v.Source.EffectiveDate).format(
          "YYYY-MM-DD HH:mm:ss"
        );
        v.Source.CheckDate = moment(v.Source.CheckDate).format(
          "YYYY-MM-DD HH:mm:ss"
        );
        v.Source.NextCheckDate = moment(v.Source.NextCheckDate).format(
          "YYYY-MM-DD HH:mm:ss"
        );
        v.Source.ProcuDate = moment(v.Source.ProcuDate).format(
          "YYYY-MM-DD HH:mm:ss"
        );
      });
      this.addindex(res.data.data)
      this.data = res.data.data;
      this.total = res.data.meta.Total;
      this.loading=false
    });
    axios.get("/api/codes/section?syscode=data&modcode=type").then(res => {
      this.datatype = res.data;
    });
    },
    pagenumberchange(v) {
      this.loading = true;
      axios
        .get(`/api/equipments?${this.filterurl}&page=${v.current}&limit=${this.pagesize}`)
        .then(res => {
          res.data.data.forEach(v => {
            v.key = v.No;
            v.Checked = false;
            v.Source.EffectiveDate = moment(v.Source.EffectiveDate).format(
              "YYYY-MM-DD HH:mm:ss"
            );
            v.Source.CheckDate = moment(v.Source.CheckDate).format(
              "YYYY-MM-DD HH:mm:ss"
            );
            v.Source.NextCheckDate = moment(v.Source.NextCheckDate).format(
              "YYYY-MM-DD HH:mm:ss"
            );
            v.Source.ProcuDate = moment(v.Source.ProcuDate).format(
              "YYYY-MM-DD HH:mm:ss"
            );
          });
          this.addindex(res.data.data)
          this.data = res.data.data;
          this.total = res.data.meta.Total;
          this.loading = false;
          this.Allchecked=false;
        });
    },
    addindex(arr){
      for(let i=0;i<arr.length;i++){
        arr[i].index=i+1
      }
    },
    seesee(key) {
      const newData = [...this.data];
      const target = newData.filter(item => key === item.key)[0];
      if (target) {
        this.$router.push({
          name: "equipmentdetail",
          params: {
            ...target
          }
        });
      }
    },
    changechecked(key) {
      const newData = [...this.data];
      const target = newData.filter(item => key === item.key)[0];
      if (target) {
        if (target.Checked === true) {
          if (this.Allchecked === true) {
            this.Allchecked = false;
          }
          target.Checked = false;
        } else if (target.Checked === false) {
          
          let cout = 0;
          target.Checked = true;
          this.data.forEach(v=>{
            if(v.Checked===false){
              cout=cout+1
            }
          })
          if(cout===0){
            this.Allchecked = true;
          }
        }
        this.data = newData;
      }
    },
    exportexcel() {
      // axios.get(this.excelurl).then(
      //   res=>{
      // let blob = new Blob([res], {type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;charset=utf-8'});
      let downloadElement = document.createElement("a");
      // let href = window.URL.createObjectURL(blob); // 创建下载的链接
      let href = this.excelurl;
      downloadElement.href = href;
      let name = moment(new Date).format("YYYY-MM-DD HH:mm:ss")
      downloadElement.download = `${name}.xlsx`; // 下载后文件名
      document.body.appendChild(downloadElement);
      downloadElement.click(); // 点击下载
      document.body.removeChild(downloadElement); // 下载完成移除元素
      window.URL.revokeObjectURL(href); // 释放掉blob对象
      //   }
      // )
    },
    printcode(key) {
      const newData = [...this.data];
      const target = newData.filter(item => item.Checked === true);
      if (target) {
        //调用打印接口
        let items = [];
        for (let i = 0; i < target.length; i++) {
          items.push(target[i].No);
        }
        if (items.length === 0) {
          this.$message.warning("请至少选择一条数据");
        } else {
          axios
            .post("/api/print/equipments", items, {
              headers: {
                "Content-Type": "application/json",
                "Csrf-Token": "nocheck"
              }
            })
            .then(res => {
              if (res.data.Status === "0") {
                this.$message.success("打印成功");
              } else {
                this.$message.error("打印出错");
              }
            });
        }
      }
    },
    handleCancel() {
      this.visible = false;
      this.filtervisible = false;
      this.form.resetFields();
    },
    handleChange(info) {
      const status = info.file.status;
      if (status !== "uploading") {
      }
      if (status === "done") {
        this.$message.success(`${info.file.name} 上传成功.`);
        window.location.reload();
      } else if (status === "error") {
        this.$message.error(`${info.file.name} 上传失败.`);
      }
    },
    allchecked() {
      const newData = [...this.data];
      const target = newData.filter(item => item);
      if (target) {
        target.forEach(v => (v.Checked = !this.Allchecked));
        this.data = newData;
        this.Allchecked = !this.Allchecked;
      }
    },
    exportfilter() {
      this.filtervisible = true;
    },
    exportfilterexcel(e) {
      e.preventDefault();
      this.form.validateFields((err, values) => {
        let obj = {};
        if (!err) {
          for (let i in values) {
            if (values[i] !== undefined) {
              if (values.checkdate) {
                obj.checkdate =
                  values.checkdate[0]
                    .format("YYYY-MM-DD HH:mm:ss")
                    .replace(/-/g, "/")
                    .split(" ")[0] +
                  " " +
                  "00:00:00";
                obj.checkdatee =
                  values.checkdate[1]
                    .format("YYYY-MM-DD HH:mm:ss")
                    .replace(/-/g, "/")
                    .split(" ")[0] +
                  " " +
                  "00:00:00";
              } else if (values.effectivedate) {
                obj.effectivedate =
                  values.effectivedate[0]
                    .format("YYYY-MM-DD HH:mm:ss")
                    .replace(/-/g, "/")
                    .split(" ")[0] +
                  " " +
                  "00:00:00";
                obj.effectivedatee =
                  values.effectivedate[1]
                    .format("YYYY-MM-DD HH:mm:ss")
                    .replace(/-/g, "/")
                    .split(" ")[0] +
                  " " +
                  "00:00:00";
              } else if (values.nextcheckdate) {
                obj.nextcheckdate =
                  values.nextcheckdate[0]
                    .format("YYYY-MM-DD HH:mm:ss")
                    .replace(/-/g, "/")
                    .split(" ")[0] +
                  " " +
                  "00:00:00";
                obj.nextcheckdatee =
                  values.nextcheckdate[1]
                    .format("YYYY-MM-DD HH:mm:ss")
                    .replace(/-/g, "/")
                    .split(" ")[0] +
                  " " +
                  "00:00:00";
              } else {
                obj[i] = values[i];
              }
            }
          }
          let Url = `/api/equipments?page=1&limit=${this.pagesize}`;
          let url1=''
          for (let i in obj) {
            url1 += `${i}=${obj[i]}`;
          }
          Url+=`&${url1}`
          // let url = Url.slice(0, -1);
          this.filterurl = url1
          axios.get(Url).then(res => {
            res.data.data.forEach(v => {
              v.key = v.No;
              v.Checked = false
            });
            this.data = res.data.data;
            this.total=res.data.meta.Total
            this.filtervisible = false;
            this.form.resetFields();
            this.excelurl = Url.replace(
              /\/api\/equipments/,
              "/api/file/equipments/export"
            );
          });
        }
      });
    },
    addnewequipment(e) {
      e.preventDefault();
      this.form.validateFields((err, values) => {
        if (!err) {
          values.Source.Keeper = Number(values.Source.Keeper);
          values.Source.CheckInterval = Number(values.Source.CheckInterval);
          values.Source.ProcuPrice = Number(values.Source.ProcuPrice);
          axios
            .post(
              "/api/equipments",
              {
                ...values,
                CheckDateType: values.DateType,
                EffectiveDateType: values.DateType,
                NextCheckDateType: values.DateType
              },
              {
                headers: {
                  "Content-Type": "application/json",
                  "Csrf-Token": "nocheck"
                }
              }
            )
            .then(res => {
              if (res.data.Status === "0") {
                this.$message.success("添加成功");
                //this.form.resetFields();   重置表单状态，在reload情况下不需要,影响性能,去掉reload之后需要加上
                window.location.reload();
              } else {
                this.$message.error("添加失败");
              }
            });
        }
      });
    },
    resetdata() {
      this.loading=true
    axios.get(`/api/equipments?page=1&limit=${this.pagesize}`).then(res => {
      res.data.data.forEach(v => {
        v.key = v.No;
        v.Source.EffectiveDate = moment(v.Source.EffectiveDate).format(
          "YYYY-MM-DD HH:mm:ss"
        );
        v.Source.CheckDate = moment(v.Source.CheckDate).format(
          "YYYY-MM-DD HH:mm:ss"
        );
        v.Source.NextCheckDate = moment(v.Source.NextCheckDate).format(
          "YYYY-MM-DD HH:mm:ss"
        );
        v.Source.ProcuDate = moment(v.Source.ProcuDate).format(
          "YYYY-MM-DD HH:mm:ss"
        );
      });
      this.addindex(res.data.data)
      this.data = res.data.data;
      this.total = res.data.meta.Total;
      this.loading=false
    });
    }
  }
};
</script>
<style scoped lang='less'>
@font-face {
   font-family: 'EUDC';
   src: url('../assets/EUDC.TTF');
 }
.EUDC{
  :global(.ant-table) {
    font-family: 'EUDC'
  }

}
#components-layout-demo-custom-trigger
  > div.ant-layout
  > div.ant-layout-content
  > div {
  user-select: none;
}
.editable-row-operations a {
  margin-right: 8px;
}
.toggleIs {
  color: #1890ff;
}
.toggleIs:hover {
  cursor: pointer;
}
.edit-a {
  user-select: none;
}
</style>




