<template >
  <a-form :form="form" @submit="handleSubmit">
    <a-row>
      <a-col :md="6">
        <a-form-item label="设备编号" :label-col="{ span: 5 }" :wrapper-col="{ span: 10 }">
          <a-input
            :disabled="noeditble"
            v-decorator="[  
          'Code',
          {rules: [{ required: true, message: '此处不能为空!' }],initialValue:this.$route.params.Code}
        ]"
          />
        </a-form-item>
      </a-col>
      <a-col :md="6">
        <a-form-item label="设备ID" :label-col="{ span: 5 }" :wrapper-col="{ span: 10 }">
          <a-input
            :disabled="noeditble"
            v-decorator="[  
          'No',
          {rules: [{ required: true, message: '此处不能为空!' }],initialValue:this.$route.params.No},
          
        ]"
          />
        </a-form-item>
      </a-col>
      <a-col :md="6">
        <a-form-item label="设备名称" :label-col="{ span: 5 }" :wrapper-col="{ span: 10 }">
          <a-input
            :disabled="noeditble"
            v-decorator="[  
          'Name',
          {rules: [{ required: true, message: '此处不能为空!' }],initialValue:this.$route.params.Name}
        ]"
          />
        </a-form-item>
      </a-col>
      <a-col :md="6">
        <a-form-item label="拼音" :label-col="{ span: 5 }" :wrapper-col="{ span: 10 }">
          <a-input
            :disabled="noeditble"
            v-decorator="[  
          'Pinyin',
          {rules: [],initialValue:this.$route.params.Pinyin}
        ]"
          />
        </a-form-item>
      </a-col>
      <a-col :md="6">
        <a-form-item label="检定日期" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
          <a-date-picker
            :disabled="noeditble"
            v-decorator="[  
          'Source.CheckDate',
          {rules: [],initialValue:this.$route.params.Source.CheckDate}
        ]"
          />
        </a-form-item>
      </a-col>
      <a-col :md="6">
        <a-form-item label="有效日期" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
          <a-date-picker
            :disabled="noeditble"
            v-decorator="[  
          'Source.EffectiveDate',
          {rules: [],initialValue:this.$route.params.Source.EffectiveDate}
        ]"
          />
        </a-form-item>
      </a-col>
      <a-col :md="6">
        <a-form-item label="周检日期" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
          <a-date-picker
            :disabled="noeditble"
            v-decorator="[  
          'Source.NextCheckDate',
          {rules: [],initialValue:this.$route.params.Source.NextCheckDate}
        ]"
          />
        </a-form-item>
      </a-col>
      <a-col :md="6">
        <a-form-item label="购进日期" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
          <a-date-picker
            :disabled="noeditble"
            v-decorator="[  
          'Source.ProcuDate',
          {rules: [],initialValue:this.$route.params.Source.ProcuDate}
        ]"
          />
        </a-form-item>
      </a-col>

      <a-col :md="8">
        <a-form-item label="型号规格" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
          <a-input
            :disabled="noeditble"
            v-decorator="[  
          'ModeNo',
          {rules: [],initialValue:this.$route.params.ModeNo}
        ]"
          />
        </a-form-item>
      </a-col>
      <a-col :md="8">
        <a-form-item label="出厂编号" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
          <a-input
            :disabled="noeditble"
            v-decorator="[  
          'ManufNo',
          {rules: [],initialValue:this.$route.params.ManufNo}
        ]"
          />
        </a-form-item>
      </a-col>
      <a-col :md="8">
        <a-form-item label="测量范围" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
          <a-input
            :disabled="noeditble"
            v-decorator="[  
          'CheckRange',
          {rules: [],initialValue:this.$route.params.CheckRange}
        ]"
          />
        </a-form-item>
      </a-col>
      <a-col :md="8">
        <a-form-item label="不确定度" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
          <a-input
            :disabled="noeditble"
            v-decorator="[  
          'Uncertainty',
          {rules: [],initialValue:this.$route.params.Uncertainty}
        ]"
          />
        </a-form-item>
      </a-col>
      <a-col :md="8">
        <a-form-item label="制造厂商" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
          <a-input
            :disabled="noeditble"
            v-decorator="[  
          'Producer',
          {rules: [],initialValue:this.$route.params.Producer}
        ]"
          />
        </a-form-item>
      </a-col>
      <a-col :md="8">
        <a-form-item label="用途" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
          <a-input
            :disabled="noeditble"
            v-decorator="[  
          'Usage',
          {rules: [],initialValue:this.$route.params.Usage}
        ]"
          />
        </a-form-item>
      </a-col>
      <a-col :md="8">
        <a-form-item label="档案号" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
          <a-input
            :disabled="noeditble"
            v-decorator="[  
          'FileNo',
          {rules: [],initialValue:this.$route.params.FileNo}
        ]"
          />
        </a-form-item>
      </a-col>
      <a-col :md="8">
        <a-form-item label="器具类型" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
          <a-input
            :disabled="noeditble"
            v-decorator="[  
          'InstruementType',
          {rules: [],initialValue:this.$route.params.InstruementType}
        ]"
          />
        </a-form-item>
      </a-col>
      <a-col :md="8">
        <a-form-item label="提供人员" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
          <a-input
            :disabled="noeditble"
            v-decorator="[  
          'Source.Provider',
          {rules: [],initialValue:this.$route.params.Source.Provider}
        ]"
          />
        </a-form-item>
      </a-col>
      <a-col :md="8">
        <a-form-item label="所属科室" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
          <a-input
            :disabled="noeditble"
            v-decorator="[  
          'Source.OwnDept',
          {rules: [],initialValue:this.$route.params.Source.OwnDept}
        ]"
          />
        </a-form-item>
      </a-col>
      <a-col :md="8">
        <a-form-item label="保管人员" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
          <a-input
            type="Number"
            :disabled="noeditble"
            v-decorator="[  
          'Source.Keeper',
          {rules: [],initialValue:this.$route.params.Source.Keeper}
        ]"
          />
        </a-form-item>
      </a-col>
      <a-col :md="8">
        <a-form-item label="检定单位" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
          <a-input
            :disabled="noeditble"
            v-decorator="[  
          'Source.CheckUnit',
          {rules: [],initialValue:this.$route.params.Source.CheckUnit}
        ]"
          />
        </a-form-item>
      </a-col>
      <a-col :md="8">
        <a-form-item label="溯源方式" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
          <a-input
            :disabled="noeditble"
            v-decorator="[  
          'Source.SourceWay',
          {rules: [],initialValue:this.$route.params.Source.SourceWay}
        ]"
          />
        </a-form-item>
      </a-col>
      <a-col :md="8">
        <a-form-item label="检定周期" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
          <a-input
            type="Number"
            :disabled="noeditble"
            v-decorator="[  
          'Source.CheckInterval',
          {rules: [],initialValue:this.$route.params.Source.CheckInterval}
        ]"
          />
        </a-form-item>
      </a-col>
      <a-col :md="8">
        <a-form-item label="证书号码" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
          <a-input
            :disabled="noeditble"
            v-decorator="[  
          'Source.CertNo',
          {rules: [],initialValue:this.$route.params.Source.CertNo}
        ]"
          />
        </a-form-item>
      </a-col>
      <a-col :md="8">
        <a-form-item label="购进金额" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
          <a-input
            type="Number"
            :disabled="noeditble"
            v-decorator="[  
          'Source.ProcuPrice',
          {rules: [],initialValue:this.$route.params.Source.ProcuPrice}
        ]"
          />
        </a-form-item>
      </a-col>
      <a-col :md="8">
        <a-form-item label="说明" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
          <a-input
            :disabled="noeditble"
            v-decorator="[  
          'Source.Memo',
          {rules: [],initialValue:this.$route.params.Source.Memo}
        ]"
          />
        </a-form-item>
      </a-col>
      <a-col :md="8">
        <a-form-item label="溯源要求" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
          <a-input
            :disabled="noeditble"
            v-decorator="[  
          'Source.SourceReq',
          {rules: [],initialValue:this.$route.params.Source.SourceReq}
        ]"
          />
        </a-form-item>
      </a-col>
      <a-col :md="8">
        <a-form-item label="状态" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
          <a-input
            :disabled="noeditble"
            v-decorator="[  
          'Status',
          {rules: [],initialValue:this.$route.params.Status}
        ]"
          />
        </a-form-item>
      </a-col>
      <a-col :md="8">
        <a-form-item label="是否标准器" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
          <a-switch
            :disabled="noeditble"
            :defaultChecked="this.$route.params.IsStandard"
            v-decorator="['IsStandard']"
          />
        </a-form-item>
      </a-col>
      <a-col :md="8">
        <a-form-item :wrapper-col="{ span: 12, offset: 5 }">
          <a-button type="primary" html-type="submit">{{noeditble?"编辑":"保存"}}</a-button>
          <span>
            <a-popconfirm title="确定要删除吗?" @confirm="this.deletecode" okText="确定" cancelText="取消">
              <a-button type="danger">删除</a-button>
            </a-popconfirm>
          </span>
        </a-form-item>
      </a-col>
    </a-row>
  </a-form>
</template>
<script>
import axios from "axios";
import moment from "moment";
export default {
  data() {
    return {
      formLayout: "horizontal",
      form: this.$form.createForm(this),
      No: "",
      noeditble: true,
      Name: "",
      Pinyin: "",
      IsStandard: null,
      Source: {}
    };
  },
  beforeMount() {
    for (let i in this.$route.params.Source) {
      if (
        i === "CheckDate" ||
        i === "EffectiveDate" ||
        i === "NextCheckDate" ||
        i === "ProcuDate"
      ) {
        this.$route.params.Source[i] = moment(this.$route.params.Source[i]);
      }
    }
  },

  methods: {
    handleSubmit(e) {
      e.preventDefault();
      if (this.noeditble === true) {
        this.noeditble = false;
      } else {
        this.noeditble = true;
        this.form.validateFields((err, values) => {
          if (!err) {
            for (let i in values.Source) {
              if (
                i === "ProcuPrice" ||
                i === "Keeper" ||
                i === "CheckInterval"
              ) {
                values.Source[i] = Number(values.Source[i]);
              }
            }
            axios
              .put(
                "/api/equipments",
                {
                  ...values
                },
                {
                  headers: {
                    "Content-Type": "application/json",
                    "Csrf-Token": "nocheck"
                  }
                }
              )
              .then(res => {
                if (res.data.Status === "0") {
                  this.$message.success("修改成功");
                  this.$router.push("/mainmenu/equipmentlist");
                } else {
                  this.$message.error("修改失败");
                }
              });
          }
        });
      }
    },

    deletecode(e) {
      e.preventDefault();

      this.form.validateFields((err, values) => {
        if (!err) {
          axios
            .delete(
              `/api/equipments/${values.No}`,
              {
                headers: {
                  "Content-Type": "application/json",
                  "Csrf-Token": "nocheck"
                }
              }
            )
            .then(res => {
              if (res.data.Status === "0") {
                this.$message.success("删除成功");
                this.$router.push("/mainmenu/equipmentlist");
              } else {
                this.$message.error("删除失败");
              }
            });
        }
      });
    }
  }
};
