<template>
  <div>
    <!-- <a-checkbox @change="allchecked">全部选中</a-checkbox> -->
    <div style="margin:-15px 0 5px 5px">
      <a-tooltip placement="bottom" :visible="help===1">
        <template slot="title">
          <span>此处通过输入筛选条件对所有数据进行筛选，并非当前页码下的筛选,筛选为模糊匹配方式,只需输入部分即可进行筛选</span>
        </template>
        <a-button style="margin-bottom:5px" type="primary" @click="()=>this.visible=!this.visible">查询</a-button>
      </a-tooltip>
      <a-tooltip placement="bottom" :visible="help===2">
        <template slot="title">
          <span>此处用于导出所有页码下的设备出入库信息的Excel,筛选条件也适用于此处,需要导出全部数据请先清除筛选条件</span>
        </template>
        <a-button style="margin-bottom:5px" type="primary" @click="exportrecords">导出Excel</a-button>
      </a-tooltip>
      <a-tooltip placement="bottom" :visible="help===3">
        <template slot="title">
          <span>此处用于清除筛选条件</span>
        </template>
        <a-button style="margin-bottom:5px" type="primary" @click="resetdata">初始化</a-button>
      </a-tooltip>
      <a-button style="margin-bottom:5px" type="primary" @click="userHelp" v-text="helpbtnname"></a-button>
    </div>
    <a-modal v-model="visible" :footer="null">
      <a-form id="components-form-demo-normal-login" :form="form" class="login-form" @submit="addfilter">
        <a-form-item label="设备号" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
          <a-input
            v-decorator="[
              'EquipmentNo',
              { rules: [] }
            ]"
            placeholder="设备号"
          >
            <a-icon slot="prefix" type="user" style="color: rgba(0,0,0,.25)"/>
          </a-input>
        </a-form-item>
        <a-form-item label="出入库状态" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
          <a-select v-decorator="[
            'Status',
            {rules: []}
          ]">
            <a-select-option value="in">入库</a-select-option>
            <a-select-option value="out">出库</a-select-option>
          </a-select>
        </a-form-item>
        <a-form-item label="时间段" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
          <a-range-picker v-decorator="['Date' ]"/>
        </a-form-item>
        <a-form-item>
          <a-button
            style="width:100%"
            type="primary"
            html-type="submit"
            class="login-form-button"
          >点击筛选</a-button>
        </a-form-item>
      </a-form>
    </a-modal>
    <a-table
      :columns="columns"
      :dataSource="data"
      :loading="loading"
      :scroll="{ x:700,y:650 }"
      bordered
      :pagination="{defaultPageSize:this.pagesize,hideOnSinglePage:true}"
    ></a-table>
  </div>
</template>
<script>
import axios from "axios";
import moment from "moment";
const columns = [
  { title: "序号", dataIndex: "index" ,width: 50,},
  { title: "设备号", dataIndex: "EquipmentNo", key: "EquipmentNo" ,width: 50,},
  { title: "设备码", dataIndex: "EquipmentCode", key: "EquipmentCode" ,width: 100,},
  { title: "设备名", dataIndex: "EquipmentName", key: "EquipmentName" ,width: 200,},
  { title: "时间", dataIndex: "Time", key: "Time" ,width: 200,},
  { title: "使用者", dataIndex: "UserName", key: "UserName" ,width: 70,},
  { title: "操作", dataIndex: "Status", key: "Status" ,width: 50,},
  
];

const data = [];

export default {
  data() {
    this.cacheData = data.map(item => ({ ...item }));
    return {
      data,
      columns,
      Allchecked: false,
      visible: false,
      excelurl: "/api/file/record/export",
      pagesize: 20,
      loading: false,
      help: 0,
      helpbtnname: "帮助"
    };
  },
  beforeCreate() {
    this.form = this.$form.createForm(this);
  },
  mounted() {
    this.loading = true;
    axios.get("/api/records").then(res => {
      res.data.forEach(v => {
        v.key = v.Time;
        v.Checked = false;
        v.Time = moment(v.Time).format("YYYY-MM-DD HH:mm:ss");
      });
      this.addindex(res.data);
      this.data = res.data;
      this.loading = false;
    });
  },
  methods: {
    userHelp() {
      if (this.help < 3) {
        this.help = this.help + 1;
        if (this.help === 3) {
          this.helpbtnname = "我知道了";
        } else {
          this.helpbtnname = "下一个";
        }
      } else {
        this.help = 0;
        this.helpbtnname = "帮助";
      }
    },
    resetdata() {
      this.loading = true;
      axios.get("/api/records").then(res => {
        res.data.forEach(v => {
          v.key = v.Time;
          v.Checked = false;
          v.Time = moment(v.Time).format("YYYY-MM-DD HH:mm:ss");
        });
        this.addindex(res.data);
        this.data = res.data;
        this.loading = false;
      });
    },
    addindex(arr) {
      for (let i = 0; i < arr.length; i++) {
        arr[i].index = i + 1;
      }
    },
    allchecked() {
      const newData = [...this.data];
      const target = newData.filter(item => item);
      if (target) {
        target.forEach(v => (v.Checked = !this.Allchecked));
        this.data = newData;
        this.Allchecked = !this.Allchecked;
      }
    },
    addfilter(e) {
      e.preventDefault();
      this.form.validateFields((err, values) => {
        if (!err) {
          let filterobj = {};
          if (values.Date) {
            this.loading = true;
            filterobj.times =
              values.Date[0]
                .format("YYYY-MM-DD HH:mm:ss")
                .replace(/-/g, "/")
                .split(" ")[0] +
              " " +
              "00:00:00";
            filterobj.timee =
              values.Date[1]
                .format("YYYY-MM-DD HH:mm:ss")
                .replace(/-/g, "/")
                .split(" ")[0] +
              " " +
              "00:00:00";
          }
          for (let i in values) {
            if (values[i] !== undefined) {
              filterobj[i] = values[i];
            }
          }
          let Url = "/api/records?";
          for (let i in filterobj) {
            Url += `${i.toLowerCase()}=${filterobj[i]}&`;
          }
          let url = Url.slice(0, -1);
          this.excelurl = url.replace(
            /\/api\/records/,
            "/api/file/record/export"
          );
          axios.get(url).then(res => {
            if (res.data.length !== 0) {
              res.data.forEach(v => {
                v.Checked = false;
                v.key = v.EquipmentNo;
                v.Time = moment(v.Time).format("YYYY-MM-DD HH:mm:ss");
              });
              this.addindex(res.data);
              this.data = res.data;
              this.visible = false;
              this.loading = false;
            } else {
              this.$message.error("没有找到匹配项");
              this.loading = false;
            }
          });
        }
      });
    },
    exportrecords() {
      let downloadElement = document.createElement("a");
      let href = this.excelurl;
      downloadElement.href = href;
      let name = moment(new Date).format("YYYY-MM-DD HH:mm:ss")
      downloadElement.download = `${name}.xlsx`; // 下载后文件名
      document.body.appendChild(downloadElement);
      downloadElement.click(); // 点击下载
      document.body.removeChild(downloadElement); // 下载完成移除元素
      window.URL.revokeObjectURL(href); // 释放掉blob对象
    }
  }
};
</script>
<style scoped>
.editable-row-operations a {
  margin-right: 8px;
}
#components-layout-demo-custom-trigger
  > div.ant-layout
  > div.ant-layout-content
  > div {
  user-select: none;
}
</style>