<template>
  <a-row style>
    <a-col :xs="2" :sm="6" :md="8" :lg="9" :xl="9"></a-col>
    <a-col :xs="20" :sm="12" :md="8" :lg="6" :xl="6" class="loginform-container">
      <p class="login-title">EMS出入库管理系统</p>
      <div>
        <a-form
          id="components-form-demo-normal-login"
          :form="form"
          class="login-form"
          @submit="handleSubmit"
        >
          <a-form-item>
            <a-input
              v-decorator="[
                        'UserName',
                        { rules: [{ required: true, message: '请输入账号' }] }
                        ]"
              placeholder="Username"
            >
              <a-icon slot="prefix" type="user" style="color: rgba(0,0,0,.25)"/>
            </a-input>
          </a-form-item>
          <a-form-item>
            <a-input
              v-decorator="[
                        'Password',
                        { rules: [{ required: true, message: '请输入密码' }] }
                        ]"
              type="Password"
              placeholder="Password"
            >
              <a-icon slot="prefix" type="lock" style="color: rgba(0,0,0,.25)"/>
            </a-input>
          </a-form-item>
          <a-form-item>
            <a-checkbox
              v-decorator="[
                        'remember',
                        {
                            valuePropName: 'checked',
                            initialValue: true,
                        }
                        ]"
            >记住账号</a-checkbox>
            <span
              class="activelink"
              style="position:absolute;right:0"
              @click="()=>this.$router.push('/signup')"
            >注册</span>
            <a-button type="primary" html-type="submit" class="login-form-button">点击登录</a-button>
          </a-form-item>
        </a-form>
      </div>
    </a-col>
    <a-col :xs="2" :sm="4" :md="8" :lg="9" :xl="9"></a-col>
  </a-row>
</template>
<script>
import axios from "axios";
import qs from "qs";
axios.defaults.withCredentials = true;
export default {
  data() {
    return {
      KeyId: "",
      Msg: ""
    };
  },
  beforeCreate() {
    let username = (function(name) {
      let v = window.document.cookie.match("(^|;) ?" + name + "=([^;]*)(;|$)");
      return v ? v[2] : null;
    })("UserName");
    this.form = this.$form.createForm(this, {
      mapPropsToFields: () => {
        return {
          UserName: this.$form.createFormField({
            value: username ? username : ""
          })
        };
      }
    });
  },
  mounted() {
    if (!!this.getCookie("ylwbl")) {
      this.$router.push("/mainmenu");
    }
  },

  methods: {
    handleSubmit(e) {
      e.preventDefault();
      this.form.validateFields((err, values) => {
        if (!err) {
          const { UserName, Password } = values;
          let KeyId = this.KeyId;
          axios
            .post(
              "/api/user/authenticate",
              { UserName, Password, KeyId },
              {
                headers: {
                  "Content-Type": "application/json",
                  "Csrf-Token": "nocheck"
                }
              }
            )
            .then(res => {
              if (res.data.Status === "0") {
                if (this.form.getFieldValue("remember")) {
                  this.setCookie("UserName", UserName, 7);
                }
                axios.get(`/api/users?username=${UserName}`).then(res => {
                  if (res.data.data.IsSuperuser === true) {
                    let code = this.compile("Superuser");
                    this.setCookie("ylwbl", `${code}`);
                    this.$message.success(`登录成功,欢迎管理员${UserName}`);
                    this.$router.push("/mainmenu");
                  } else {
                    let code = this.compile("user");
                    this.setCookie("ylwbl", `${code}`);
                    this.$message.success(`登录成功,欢迎${UserName}`);
                    this.$router.push("/mainmenu"); //简单的权限控制
                  }
                });
              } else {
                if (res.data.ErrorCode === 1) {
                  this.$message.error("用户未激活,请与管理员进行联系");
                } else {
                  this.$message.error("用户名与密码不匹配");
                }
              }
            });
        }
      });
    },
    setCookie: function(name, value, days) {
      let d = new Date();
      d.setTime(d.getTime() + 24 * 60 * 60 * 1000 * days);
      window.document.cookie =
        name + "=" + value + ";path=/;expires=" + d.toGMTString();
    },

    getCookie: function(name) {
      let v = window.document.cookie.match("(^|;) ?" + name + "=([^;]*)(;|$)");
      return v ? v[2] : null;
    },

    deleteCookie: function(name) {
      this.set(name, "", -1);
    },
    compile(code) {
      let c = String.fromCharCode(code.charCodeAt(0) + code.length);
      for (let i = 1; i < code.length; i++) {
        c += String.fromCharCode(code.charCodeAt(i) + code.charCodeAt(i - 1));
      }
      return escape(c);
    },
    uncompile(code) {
      code = unescape(code);
      let c = String.fromCharCode(code.charCodeAt(0) - code.length);
      for (let i = 1; i < code.length; i++) {
        c += String.fromCharCode(code.charCodeAt(i) - c.charCodeAt(i - 1));
      }
      return c;
    }
  }
};
</script>
<style>
#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}
/* .loginform-container {
} */
.login-title {
  text-align: center;
  margin-top: 25vh;
  color:#3498DB;
  font-size: 30px;
}
</style>