<template>
  <a-layout id="components-layout-demo-custom-trigger" style="height:100vh">
    <a-layout-sider :trigger="null" collapsible v-model="collapsed" :width="180">
      <div
        class="logo"
        style="text-align:center;font-size:20px;color:skyblue;cursor:pointer;user-select:none"
        @click="tomainmenu"
      >
        <span>{{collapsed?'':'EMS'}}</span>
      </div>
      <a-menu theme="dark" mode="inline">
        <a-menu-item key="1" @click="()=>this.$router.push('/mainmenu/userlist')">
          <a-icon type="user"/>
          <span>人员管理</span>
        </a-menu-item>
        <a-menu-item key="2" @click="()=>this.$router.push('/mainmenu/codelist')">
          <a-icon type="code"/>
          <span>分类码管理</span>
        </a-menu-item>
        <a-menu-item key="3" @click="()=>this.$router.push('/mainmenu/equipmentlist')">
          <a-icon type="pic-center"/>
          <span>设备管理</span>
        </a-menu-item>
        <a-menu-item key="4" @click="()=>this.$router.push('/mainmenu/iorecord')">
          <a-icon type="project"/>
          <span>设备出入库记录</span>
        </a-menu-item>
        <a-menu-item key="5" @click="()=>this.$router.push('/scan')">
          <a-icon type="swap"/>
          <span>设备出入库</span>
        </a-menu-item>
        <!-- <a-menu-item key="6" @click="()=>this.$router.push('/mainmenu/setting')">
          <a-icon type="setting" />
          <span>设置</span>
        </a-menu-item>-->
      </a-menu>
    </a-layout-sider>
    <a-layout>
      <a-layout-header style="background: #fff; padding: 0">   
        <a-icon
          class="trigger" 
          :type="collapsed ? 'menu-unfold' : 'menu-fold'"
          @click="()=> collapsed = !collapsed"
        />
        
      </a-layout-header>
      <a-layout-content
        :style="{ margin: '24px 16px', padding: '24px', background: '#fff', minHeight: '280px' }"
      >
        <router-view></router-view>
      </a-layout-content>
    </a-layout>
  </a-layout>
</template>
<script>
export default {
  mounted() {
    if (!this.getCookie("ylwbl")) {
      this.$router.push("/");
    }
  },
  data() {
    return {
      collapsed: true,
      help:false
    };
  },
  methods: {
    getCookie: function(name) {
      var v = window.document.cookie.match("(^|;) ?" + name + "=([^;]*)(;|$)");

      return v ? v[2] : null;
    },
    tomainmenu() {
      this.$router.push("/mainmenu");
    }
  }
};
</script>
<style>
#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
</style>
