<template>
  <div>
    <p v-text="'欢迎你，用户'+UserName" class="userinfo"></p>
    <a-button type="primary" @click="signout" class="userbutton">登出</a-button>
  </div>
</template>
<script>
export default {
  data() {
    return {
      UserName: ""
    };
  },
  mounted() {
    this.UserName = this.getCookie("UserName");
  },
  methods: {
    setCookie: function(name, value, days) {
      let d = new Date();
      d.setTime(d.getTime() + 24 * 60 * 60 * 1000 * days);
      window.document.cookie =
        name + "=" + value + ";path=/;expires=" + d.toGMTString();
    },
    getCookie: function(name) {
      let v = window.document.cookie.match("(^|;) ?" + name + "=([^;]*)(;|$)");
      return v ? v[2] : null;
    },
    signout() {
      this.setCookie("ylwbl", "");
      window.location.reload();
    }
  }
};
</script>
<style lang="less" scoped>
.userinfo {
  margin: 50px 0 0 50px;
  font-size: 20px;
}
.userbutton {
  margin: 10px 0 0 50px;
}
</style>

