<template>
  <div>
    <a-tabs defaultActiveKey="1" @change="callback">
      <a-tab-pane tab="出库" key="1" class="tab-pane" >
        <a-timeline-item color="blue" v-if="userid.length===0">请扫描员工号</a-timeline-item>
        <a-timeline-item color="green" v-if="userid.length!==0">
          <span>员工号:</span>{{userid}}<span>当前借出</span>
          <a-table v-if='data.length!==0' :pagination="false" :loading="loading" :columns="columns" :dataSource="data">
          </a-table>
        </a-timeline-item>
        <a-timeline-item color="blue" v-if="userid.length!==0&&sb.length===0">请扫描设备号</a-timeline-item>
        <a-timeline-item color="green" v-if="userid.length!==0&&sb.length!==0">
          <span>设备号</span>
          {{sb}}
        </a-timeline-item>
        <a-timeline-item color="green" v-if="success1">
          <span @click="clearall" style="curson:pointed;color:#268bd2">点击再次出库或者继续扫描设备码</span>
        </a-timeline-item>
      </a-tab-pane>
      <a-tab-pane tab="入库" key="2">
        <a-timeline-item color="blue" v-if="userid.length===0">请扫描员工号</a-timeline-item>
        <a-timeline-item color="green" v-if="userid.length!==0">
          <span>员工号:</span>{{userid}}<span>当前借出</span>
          
          <a-table v-if='data.length!==0' :pagination="false" :columns="columns" :dataSource="data">
          </a-table>
        </a-timeline-item>
        <a-timeline-item color="blue" v-if="userid.length!==0&&sb.length===0">请扫描设备号</a-timeline-item>
        <a-timeline-item color="green" v-if="sb.length!==0">
          <span>设备号</span>
          {{sb}}
        </a-timeline-item>
        <a-timeline-item color="green" v-if="success1">
          <span @click="clearall" style="curson:pointed;color:#268bd2">点击重新入库或者继续扫描设备码</span>
        </a-timeline-item>
      </a-tab-pane>
      <a-tab-pane tab="返回主菜单" key="3">
      </a-tab-pane> 
    </a-tabs>
  </div>
</template>
<script>
import axios from "axios";
const columns = [{
  dataIndex: 'Name',
  key: 'Name',
  title: 'Name' ,
  
}, {
  title: 'Code',
  dataIndex: 'Code',
  key: 'Code',
}, {
  title: 'ManufNo',
  dataIndex: 'ManufNo',
  key: 'ManufNo',
},]



export default {
  data() {
    return {
      action: "out",
      agreement: "http",
      ip: "localhost",
      port: "9000",
      userid: "",
      sb: "",
      code: "",
      success1:false,
      data:[],
      columns,
      loading:false,
    };
  },
  mounted() {
    document.onkeydown = e => {
      this.code += e.key;
      if (this.action.length !== 0) {
        document.onkeydown = e => {
          if (e.key !== "Enter") {
            this.code += e.key;
          } else {
            this.code=this.code.replace(/Shift/g,'')
            if(this.code.match(/YGH*/)){
              if(this.success1){
                this.$message.error("请先点击蓝色字清空状态再重置员工号")
                this.code = "";
              }else{
                  this.userid = this.code.split("*")[1];
                  if(this.userid){
                    this.getuserequipmentinfo()
                    this.code = "";
                    this.visible = false;
                    this.$message.success(`用户id:${this.userid}`);
                  }else{
                    this.$message.error("员工码不正确")
                    this.code = "";
                  }
              }
            } 
            if(this.code.match(/SB*/)){
              if(!this.userid){
                this.$message.error("请先扫描员工码")
                this.code = "";
              }else{
                this.sb = this.code.split("*")[1];
                if(this.sb){
                  this.code = "";
                  this.sendmessage();    
                }else{
                  this.$message.error("设备码不正确")
                  this.code = "";
                }
              }
            }
            if(!!this.code.match(/YGH*/)&&!!this.code.match(/SB*/)){
              this.$message.error('错误的二维码')
              this.code = "";
            }
          }
        };
      }
    };
  },
  destroyed() {
    document.onkeydown = "";
  },

  methods: {
    backtomainmenu(){
      this.$router.push('/mainmenu')
    },
    callback(key) {
      this.clearall();
      if (key === "1") {
        this.action = "out";
      } else if (key === "2") {
        this.action = "in";
      } else {
        this.$router.push('/mainmenu')
      }
    },
    clearall() {
      this.userid = "";
      this.sb = "";
      this.success = false;
      this.success1 = false;
    },
    sendmessage() {
      axios
        .get(
          `/api/records/${this.action}?userid=${this.userid}&equipmentno=${
            this.sb
          }`
        )
        .then(res => {
          if (
            res.data.Status === "出库成功" ||
            res.data.Status === "入库成功"
          ) {
            this.success = true;
            this.success1 = true
            this.getuserequipmentinfo()
            this.$message.success(res.data.Status)
          } else {
            this.$message.error(res.data.Status);
          }
        })
        .catch(err=>{
          if(er.status===401){
            this.$message.success('请先登录')
          }
        });
    },
    delaysuccess(){
      return new Promise((resolve,reject)=>{
        this.success = true;
        setTimeout(()=>{
          resolve()
        },3000)
      })
    },
    getuserequipmentinfo(){
      this.loading=true
      axios.get(`/api/records/user?userid=${this.userid}`).then(
        res=>{
          res.data.forEach(v=>{
            v.key=v.No
          })
          this.data = res.data
          this.loading=false
        }
      )
    },
  }
};
</script>
<style scoped lang="less">

  
</style>
