<template>
  <a-row>
    <a-col :xs="2" :sm="6" :md="6" :lg="8" :xl="8"></a-col>
    <a-col :xs="20" :sm="12" :md="24" :lg="8" :xl="8" class="loginform-container">
      <p class="login-title">注册</p>
      <a-form
        id="components-form-demo-normal-login"
        :form="form"
        class="login-form"
        @submit="handleSubmit"
      >
        <a-form-item label="用户名" :label-col="{ span: 5 }" :wrapper-col="{ span: 15 }">
          <a-input
            @change="checkunique"
            v-decorator="[
              'UserName',
              { rules: [{ required: true, message: '请输入用户名!' }] }
            ]"
          >
            
          </a-input>
        </a-form-item>
        <a-form-item label="密码" :label-col="{ span: 5 }" :wrapper-col="{ span: 15 }">
          <a-input
            v-decorator="[
              'Password',
              { rules: [{ required: true, message: '请输入密码!' }] }
            ]"
            type="Password"
          >
           
          </a-input>
        </a-form-item>
        <a-form-item label="姓名" :label-col="{ span: 5 }" :wrapper-col="{ span: 15 }">
          <a-input
            v-decorator="[
              'Name',
              { rules: [{ required: true, message: '请输入您的名字!' }] }
            ]"
          >
            
          </a-input>
        </a-form-item>
        <a-form-item label="部门" :label-col="{ span: 5 }" :wrapper-col="{ span: 15 }">
          
          <a-select 
          v-decorator="[
          'DeptCode',
          {rules: []}
        ]">
                <a-select-option v-for="item in dropdowndata" :key="item.Key" :value="item.Desc">{{item.Desc}}</a-select-option>
          </a-select>
            
          
        </a-form-item>
        <a-form-item label="邮箱" :label-col="{ span: 5 }" :wrapper-col="{ span: 15 }">
          <a-input
            v-decorator="[
                'EMail',
            ]"
            type="email"
          >
           
          </a-input>
        </a-form-item>
        <a-form-item label="手机" :label-col="{ span: 5 }" :wrapper-col="{ span: 15 }">
          <a-input
            v-decorator="[
              'Mobile',
            ]"
            type="number"
          >
           
          </a-input>
        </a-form-item>
        <a-form-item>
          <a-button type="primary" html-type="submit" class="login-button">点击注册</a-button>
        </a-form-item>
      </a-form>
    </a-col>
    <a-col :xs="2" :sm="4" :md="6" :lg="8" :xl="8"></a-col>
  </a-row>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      dropdowndata:[]
    };
  },
  beforeCreate() {
    this.form = this.$form.createForm(this);
  },
  mounted(){
    axios.get(`/api/codecombos/nologin/system/deptcode`).then(
      res=>{
        this.dropdowndata = res.data.slice(1,res.data.length)
      }
    )
  },
  methods: {
    checkunique(e) {
      if (e.target.value.length >= 4) {
        axios.get(`/api/users/unique/new/${e.target.value}`).then(res => {
          if (res.data.Status === "1") {
            this.form.setFields({
              ["UserName"]: {
                value: e.target.value,
                errors: [
                  {
                    message: "Please input your username!",
                    field: "UserName"
                  }
                ]
              }
            });
          }
        });
      }
    },
    handleSubmit(e) {
      e.preventDefault();
      this.form.validateFields((err, values) => {
        if (!err) {
          // console.log(values)
          // {
          //     "Id": 1,
          //     "KeyId": "",
          //     "DeptCode": "1234",
          //     "UserName": "1234asdasd",
          //     "Password": "1234asd",
          //     "EMail": "",
          //     "Mobile": "",
          //     "FirstName":"",
          //     "LastName": "",
          //     "Name": "",
          //     "IsActive": true,
          //     "IsSuperuse":false,
          //     "LastVisit":0,
          //     "Audit": {}
          //   }
          axios
            .post(
              "/api/users",
              JSON.stringify({
                ...values,
                Id: 0,
                KeyId: "",
                FirstName: "",
                LastName: "",
                IsActive: true,
                IsSuperuser: false,
                LastVisit: 0,
                Audit: {}
              }),
              {
                headers: {
                  "Content-Type": "application/json",
                  "Csrf-Token": "nocheck"
                }
              }
            )
            .then(res => {
              if (res.data.Status === "0") {
                this.$message.success(`注册成功`);
                this.$router.push("/mainmenu");
              }
            });
        }
      });
    }
  }
};
</script>
<style scoped>
.login-button{
  text-align: center;
  margin-left: 20%;
  width:60%
}
#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}
/* .loginform-container{
        
    } */
.login-title {
  color:#3498DB;
  font-size: 20px;
  text-align: center;
  margin-top: 15vh;
}
</style>