<template>
  <div>
    <a-modal :visible="visible" :maskClosable="true" @cancel="handleCancel" :footer="null">
      <a-tabs defaultActiveKey="1">
        <a-tab-pane tab="单条添加" key="1" forceRender>
          <a-form
            id="components-form-demo-normal-login"
            :form="form"
            class="login-form"
            @submit="handleSubmit"
          >
            <a-form-item label="用户名" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }" >
              <a-input
                @change="checkunique"
                v-decorator="[
              'UserName',
              { rules: [{ required: true, message: '请输入用户名!' }] }
            ]"
                placeholder="请输入用户名"
              >
               
              </a-input>
            </a-form-item>
            <a-form-item label="密码" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
              <a-input
                v-decorator="[
              'Password',
              { rules: [{ required: true, message: '请输入密码!' }] }
            ]"
                type="Password"
                placeholder="请输入密码"
              >
               
              </a-input>
            </a-form-item>
            <a-form-item label="姓名" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
              <a-input
                v-decorator="[
              'Name',
              { rules: [{ required: true, message: '请输入您的名字!' }] }
            ]"
                type="Name"
                placeholder="请输入姓名"
              >
               
              </a-input>
            </a-form-item>
            <a-form-item label="部门" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
              <a-select v-decorator="[
          'DeptCode',
          {rules: []}
        ]"
        placeholder="请选择部门">
                <a-select-option v-for="(item,Key) in dept" :key="Key" :value="item">{{item}}</a-select-option>
              </a-select>
            
            </a-form-item>
            <a-form-item label="邮箱" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
              <a-input
                v-decorator="[
                'EMail',
            ]"
                type="email"
                placeholder="请输入邮箱"
              >
              
              </a-input>
            </a-form-item>
            <a-form-item label="手机号" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
              <a-input
                v-decorator="[
              'Mobile',
            ]"
                placeholder="请输入手机号"
              >
              </a-input>
            </a-form-item>
            <a-form-item>
              <a-button
                style="width:100%"
                type="primary"
                html-type="submit"
                class="login-form-button"
              >点击添加</a-button>
            </a-form-item>
          </a-form>
        </a-tab-pane>
      </a-tabs>
    </a-modal>
    <a-modal :visible="filtervisible" @ok="addfilter" @cancel="handleCancel" :footer="null">
      <a-form
        id="components-form-demo-normal-login"
        :form="form"
        class="login-form"
        @submit="addfilter"
      >
        <a-form-item label="用户名" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
          <a-input
            v-decorator="[
              'UserName',
              { rules: [] }
            ]"
            placeholder="请输入用户名"
          >
            
          </a-input>
        </a-form-item>
        <a-form-item label="姓名" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
          <a-input
            v-decorator="[
              'Name',
              { rules: [] }
            ]"
            placeholder="请输入姓名"
          >
            
          </a-input>
        </a-form-item>

        <a-form-item label="邮箱" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
          <a-input
            v-decorator="[
                'EMail',
            ]"
            type="email"
            placeholder="请输入邮箱"
          >
            
          </a-input>
        </a-form-item>
        <a-form-item label="是否激活" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
          <a-switch v-decorator="['IsActive' ]"/>
        </a-form-item>
        <a-form-item label="访问时间段" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
          <a-range-picker v-decorator="['Date' ]"/>
        </a-form-item>
        <a-form-item>
          <a-button
            style="width:100%"
            type="primary"
            html-type="submit"
            class="login-form-button"
          >点击筛选</a-button>
        </a-form-item>
      </a-form>
    </a-modal>
    <div style="margin:-15px 0 5px 5px">
      <a-tooltip placement="bottom" :visible="help===1">
        <template slot="title">
            <span>此处选中时表示选中所有当前页码显示的表格中的数据</span>
        </template>
        <a-checkbox @change="allchecked" :checked="Allchecked">全部选中</a-checkbox>
      </a-tooltip>
      <a-tooltip placement="bottom" :visible="help===2">
        <template slot="title">
            <span>此处通过输入筛选条件对所有数据进行筛选，并非当前页码下的筛选,筛选为模糊匹配方式,只需输入部分即可进行筛选</span>
        </template>
        <a-button type="primary" class="btn-emerald" @click="showmodal" style="margin-bottom:5px">查询用户</a-button>
      </a-tooltip>
      <a-tooltip placement="bottom" :visible="help===5">
        <template slot="title">
            <span>此处用于添加新用户,前面带红色*的为必须输入,其他可选</span>
        </template>
        <a-button type="primary" @click="()=>this.visible=true" style="margin-bottom:5px">增加用户</a-button>
      </a-tooltip>
      <a-tooltip placement="bottom" :visible="help===3">
        <template slot="title">
            <span>此处用于清除筛选条件</span>
        </template>
         <a-button type="primary" @click="resetdata" style="margin-bottom:5px">初始化</a-button>
      </a-tooltip>
      <a-tooltip placement="bottom" :visible="help===4">
        <template slot="title">
            <span>此处用于打印勾选状态下的人员的二维码</span>
        </template>
         <a-button type="primary" @click="printcode" style="margin-bottom:5px">打印二维码</a-button>
      </a-tooltip>
      <a-button type="primary" @click="userHelp" style="margin-bottom:5px" v-text="helpbtnname"></a-button>
    </div>
    <a-table
      :columns="columns"
      bordered
      :dataSource="data"
      :scroll="{ x: 2000,y:630 }"
      :pagination="{defaultPageSize:this.pagesize,hideOnSinglePage:true,total:total}"
      @change="pagenumberchange"
      :loading="loading"
    >
      <template slot="Checked" slot-scope="Checked,record">
        <a-checkbox @change="changechecked(record.key)" :checked="Checked"></a-checkbox>
      </template>
      <template slot="DeptCode" slot-scope="DeptCode">{{DeptCode}}</template>
      <template slot="DeptCode" slot-scope="DeptCode">{{DeptCode}}</template>
      <template slot="IsActive" slot-scope="IsActive">{{IsActive?"是":"否"}}</template>
      <template slot="IsSuperuser" slot-scope="IsSuperuser">{{IsSuperuser?"是":"否"}}</template>
      <template slot="operation" slot-scope="text, record"> 
          <a class="edit-a" @click="() => seesee(record.key)">查看详情</a>
      </template>
    </a-table>
  </div>
</template>
<script>
const columns = [
  {
    title: "是否选中",
    dataIndex: "Checked",
    scopedSlots: { customRender: "Checked" },
    width: 100,
    fixed: "left"
  },
  {
    title: "序号",
    dataIndex: "index",
    scopedSlots: { customRender: "index" },
    width: 50,
    fixed: "left"
  },
  {
    title: "账号",
    dataIndex: "UserName",
    scopedSlots: { customRender: "UserName" },
    width: 100,
    fixed: "left"
  },
  {
    title: "姓名",
    dataIndex: "Name",
    scopedSlots: { customRender: "Name" },
    width: 100,
    fixed: "left"
  },
  {
    title: "部门",
    dataIndex: "DeptCode",
    scopedSlots: { customRender: "DeptCode" },
    width: 100,
    fixed: "left"
  },
  {
    title: "激活",
    dataIndex: "IsActive",
    scopedSlots: { customRender: "IsActive" },
    width: 100
  },
  {
    title: "管理员",
    dataIndex: "IsSuperuser",
    scopedSlots: { customRender: "IsSuperuser" },
    width: 100
  },
  {
    title: "邮箱",
    dataIndex: "EMail",
    width: 200
  },
  {
    title: "手机",
    dataIndex: "Mobile",
    width: 200
  },
  {
    title: "上次访问",
    dataIndex: "LastVisit",
    width: 200
  },
  {
    title: "创建人员",
    dataIndex: "AuditInfo.Creator",
    width: 150
  },
  {
    title: "创建时间",
    dataIndex: "AuditInfo.CreateTime",
    width: 200
  },
  {
    title: "更新人员",
    dataIndex: "AuditInfo.Updater",
    width: 150
  },
  {
    title: "更新时间",
    dataIndex: "AuditInfo.UpdateTime",
    width: 200
  },
  {
    title: "操作",
    dataIndex: "operation",
    scopedSlots: { customRender: "operation" },
    fixed: "right",
    width: 100
  }
];

let data = [];
import axios from "axios";
import moment from "moment";
export default {
  data() {
    this.cacheData = data.map(item => ({ ...item }));
    return {
      data,
      columns,
      visible: false,
      Allchecked: false,
      filtervisible: false,
      dept: {},
      pagesize: 20, //每页多少条数据
      total: new Number,
      loading: false,
      help:0,
      helpbtnname:'帮助',
      filterurl:''
    };
  },
  beforeCreate() {
    this.form = this.$form.createForm(this);
  },
  // computed(){

  // },
  mounted() {
    this.loading = true;
    axios.get(`/api/users?page=1&limit=${this.pagesize}`).then(res => {
      res.data.data.forEach(v => {
        v.Checked = false;
        v.key = v.UserName;
        let d = moment(v.LastVisit);
        v.LastVisit = d.format("YYYY-MM-DD HH:mm:ss");
      });
      this.addindex(res.data.data);
      this.data = res.data.data;
      this.total = res.data.meta.Total;
      this.loading = false;
    });
    axios
      .get("/api/codes/section?syscode=system&modcode=deptcode")
      .then(res => {
        let target = [];
        for (let i = 0; i < res.data.length; i++) {
          if (res.data[i].Description !== this.$route.params.DeptCode) {
            target[i] = res.data[i].Description;
          }
        }
        this.dept = target;
      });
  },
  methods: {
    userHelp(){
      if(this.help<5){
        this.help=this.help+1
        if(this.help ===5){
          this.helpbtnname = '我知道了'
        }else{
          this.helpbtnname = '下一个'
        }
      }else{
        this.help = 0
        this.helpbtnname = '帮助'
      }
    },
    addindex(arr) {
      for (let i = 0; i < arr.length; i++) {
        arr[i].index = i + 1;
      }
    },
    pagenumberchange(v) {
      this.loading = true;
      axios
        .get(`/api/users?page=${v.current}&limit=${this.pagesize}${this.filterurl}`)
        .then(res => {
          console.log(res.data.data)
          res.data.data.forEach(v => {
            v.Checked = false;
            v.key = v.UserName;
            let d = moment(v.LastVisit);
            v.LastVisit = d.format("YYYY-MM-DD HH:mm:ss");
          });
          this.addindex(res.data.data);
          this.data = res.data.data;
          this.total = res.data.meta.Total;
          this.loading = false;
          this.Allchecked=false;
        });
    },
    seesee(key) {
      const newData = [...this.data];
      const target = newData.filter(item => key === item.key)[0];
      if (target) {
        this.$router.push({
          name: "userdetail",
          params: {
            ...target
          }
        });
      }
    },
    toggleIsActive(key) {
      const newData = [...this.data];
      const target = newData.filter(item => key === item.key)[0];
      if (target) {
        target.IsActive = !target.IsActive;
        this.data = newData;
      }
    },
    toggleIsSuperuser(key) {
      const newData = [...this.data];
      const target = newData.filter(item => key === item.key)[0];
      if (target) {
        target.IsSuperuser = !target.IsSuperuser;
        this.data = newData;
      }
    },

    getIsSuperuser(key) {
      const newData = [...this.data];
      const target = newData.filter(item => key === item.key)[0];
      if (target) {
        return target.IsSuperuser;
      }
    },
    getIsActive(key) {
      const newData = [...this.data];
      const target = newData.filter(item => key === item.key)[0];
      if (target) {
        return target.IsActive;
      }
    },
    handleCancel() {
      this.visible = false;
      this.filtervisible = false;
      this.form.resetFields();
    },
    checkunique(e) {
      if (e.target.value.length >= 4) {
        axios.get(`/api/users/unique/new/${e.target.value}`).then(res => {
          if (res.data.Status === "1") {
            this.form.setFields({
              ["UserName"]: {
                value: e.target.value,
                errors: [
                  {
                    message: "请输入用户名!",
                    field: "UserName"
                  }
                ]
              }
            });
          }
        });
      }
    },
    handleSubmit(e) {
      e.preventDefault();
      this.form.validateFields((err, values) => {
        if (!err) {
          axios
            .post(
              "/api/users",
              JSON.stringify({
                ...values,
                Id: 0,
                KeyId: "",
                FirstName: "",
                LastName: "",
                IsActive: true,
                IsSuperuser: false,
                LastVisit: 0,
                Audit: {}
              }),
              {
                headers: {
                  "Content-Type": "application/json",
                  "Csrf-Token": "nocheck"
                }
              }
            )
            .then(res => {
              if (res.data.Status === "0") {
                this.$message.success(`添加 成功`);
                //this.form.resetFields();
                window.location.reload();   
              }
            });
        }
      });
    },
    handleChange(info) {
      const status = info.file.status;
      if (status !== "uploading") {
      }
      if (status === "done") {
        this.$message.success(`${info.file.name} file uploaded successfully.`);
      } else if (status === "error") {
        this.$message.error(`${info.file.name} file upload failed.`);
      }
    },
    changechecked(key) {
      const newData = [...this.data];
      const target = newData.filter(item => key === item.key)[0];
      if (target) {
        if (target.Checked === true) {
          if (this.Allchecked === true) {
            this.Allchecked = false;
          }
          target.Checked = false;
        } else if (target.Checked === false) {
          
          let cout = 0;
          target.Checked = true;
          this.data.forEach(v=>{
            if(v.Checked===false){
              cout=cout+1
            }
          })
          if(cout===0){
            this.Allchecked = true;
          }
        }
        this.data = newData;
      }
    },
    printcode(key) {
      const newData = [...this.data];
      const target = newData.filter(item => item.Checked === true);
      if (target) {
        //调用打印接口
        let items = [];
        for (let i = 0; i < target.length; i++) {
          items.push(target[i].Id);
        }
        if (items.length === 0) {
          this.$message.warning("请至少选择一条数据");
        } else {
          axios
            .post("/api/print/users", items, {
              headers: {
                "Content-Type": "application/json",
                "Csrf-Token": "nocheck"
              }
            })
            .then(res => {
              if (res.data.Status === "0") {
                this.$message.success("打印成功");
              } else {
                this.$message.error("打印出错");
              }
            });
        }
      }
    },
    allchecked() {
      const newData = [...this.data];
      const target = newData.filter(item => item);
      if (target) {
        target.forEach(v => (v.Checked = !this.Allchecked));
        this.data = newData;
        this.Allchecked = !this.Allchecked;
      }
    },
    showmodal() {
      this.filtervisible = true;
    },
    resetdata() {
      this.loading = true;
    axios.get(`/api/users?page=1&limit=${this.pagesize}`).then(res => {
      res.data.data.forEach(v => {
        v.Checked = false;
        v.key = v.UserName;
        let d = moment(v.LastVisit);
        v.LastVisit = d.format("YYYY-MM-DD HH:mm:ss");
      });
      this.addindex(res.data.data);
      this.data = res.data.data;
      this.total = res.data.meta.Total;
      this.loading = false;
    });
    },
    addfilter(e) {
      e.preventDefault();
      this.form.validateFields((err, values) => {
        if (!err) {
          let filterobj = {};
          let Url = `/api/users?page=1&limit=${this.pagesize}`;
          if (values.Date) {
            filterobj.lastvisit =
              values.Date[0]
                .format("YYYY-MM-DD HH:mm:ss")
                .replace(/-/g, "/")
                .split(" ")[0] +
              " " +
              "00:00:00";
            filterobj.lastvisite =
              values.Date[1]
                .format("YYYY-MM-DD HH:mm:ss")
                .replace(/-/g, "/")
                .split(" ")[0] +
              " " +
              "00:00:00";
          }

          for (let i in values) {
            if (values[i]) {
              filterobj[i] = values[i];
            }
          }
          let url1=''
          for (let i in filterobj) {
            url1 += `&${i.toLowerCase()}=${filterobj[i]}`;
          }
          this.filterurl=url1;
          Url+=url1;
          axios.get(Url).then(res => {
            res.data.data.forEach(v => {
              v.Checked = false;
              v.key = v.UserName;
              let d = new Date(v.LastVisit);
              v.LastVisit = `${d.getFullYear()}-${d.getMonth()}-${d.getDay()} ${d.getHours()}:${d.getMinutes()}:${d.getSeconds()}`;
            });
            this.addindex(res.data.data);
            this.data = res.data.data;
            this.total= res.data.meta.Total
            this.filtervisible = false;
            this.form.resetFields();
          });
        }
      });
    }
  }
};
</script>
<style scoped>
#components-layout-demo-custom-trigger
  > div.ant-layout
  > div.ant-layout-content
  > div {
  user-select: none;
}
.editable-row-operations a {
  margin-right: 8px;
}
.toggleIs {
  color: #1890ff;
}
.toggleIs:hover {
  cursor: pointer;
}
.edit-a {
  user-select: none;
}
</style>




