<template >
  <a-form :form="form" @submit="handleSubmit">
    <a-form-item label="用户名" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
      <a-input
        :disabled="noeditble"
        v-decorator="[  
          'UserName',
          {rules: [{ required: true, message: '此处不能为空!' }],initialValue:this.$route.params.UserName},
          
        ]"
      />
    </a-form-item>
    <a-form-item label="姓名" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
      <a-input
        :disabled="noeditble"
        v-decorator="[  
          'Name',
          {rules: [{ required: true, message: '此处不能为空!' }],initialValue:this.$route.params.Name}
        ]"
      />
    </a-form-item>
    <a-form-item label="部门" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
      <a-select
        :disabled="noeditble"
        v-decorator="[
          'DeptCode',
          {rules: [],initialValue:this.$route.params.DeptCode}
        ]"
      >
        <a-select-option v-for="(item,Key) in dept" :key="Key" :value="item">{{item}}</a-select-option>
      </a-select>
    </a-form-item>
    <a-form-item label="是否激活" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
      <a-switch
        :disabled="noeditble"
        :defaultChecked="this.$route.params.IsActive"
        v-decorator="['IsActive',{initialValue:this.$route.params.IsActive} ]"
      />
    </a-form-item>
    <a-form-item label="是否管理员" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
      <a-switch
        :disabled="noeditble"
        :defaultChecked="this.$route.params.IsSuperuser"
        v-decorator="['IsSuperuser',{initialValue:this.$route.params.IsSuperuser}]"
      />
    </a-form-item>
    <a-form-item label="邮箱" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
      <a-input
        :disabled="noeditble"
        v-decorator="[  
          'Email',
          {initialValue:this.$route.params.Email?this.$route.params.Email:''}
        ]"
      />
    </a-form-item>
    <a-form-item label="手机" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
      <a-input
        :disabled="noeditble"
        v-decorator="[  
          'Mobile',
          {initialValue:this.$route.params.Mobile?this.$route.params.Mobile:''}
        ]"
      />
    </a-form-item>
    <a-form-item :wrapper-col="{ span: 12, offset: 5 }">
      <a-button type="danger" html-type="submit">{{noeditble?"编辑":"保存"}}</a-button>
      <!-- <span>
        <a-button type="primary" >删除</a-button>
      </span>-->
    </a-form-item>

    <!-- <a-form-item :wrapper-col="{ span: 12, offset: 5 }">
        <a-buttton type="primary" @click="this.deletecode" ></a-buttton>
    </a-form-item>-->
  </a-form>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      formLayout: "horizontal",
      form: this.$form.createForm(this),
      noeditble: true,
      dept: {}
    };
  },
  mounted() {
    axios
      .get("/api/codes/section?syscode=system&modcode=deptcode")
      .then(res => {
        let target = [];
        for (let i = 0; i < res.data.length; i++) {
          if (res.data[i].Description !== this.$route.params.DeptCode) {
            target[i] = res.data[i].Description;
          }
        }
        this.dept = target;
      });
  },
  methods: {
    handleSubmit(e) {
      e.preventDefault();
      if (this.noeditble === true) {
        this.noeditble = false;
      } else {
        this.noeditble = true;
        this.form.validateFields((err, values) => {
          if (!err) {
            axios
              .put(
                "/api/users",
                {
                  ...values,
                  Id: this.$route.params.Id,
                  KeyId: this.$route.params.KeyId,
                  Password: this.$route.params.Password,
                  FirstName: "",
                  LastName: "",
                  LastVisit: new Date(this.$route.params.LastVisit),
                  Audit: {}
                },
                {
                  headers: {
                    "Content-Type": "application/json",
                    "Csrf-Token": "nocheck"
                  }
                }
              )
              .then(res => {
                if (res.data.Status === "0") {
                  this.$message.success("修改成功");
                  this.$router.push("/mainmenu/userlist");
                }
              });
          }
        });
      }
    },
  }
};
</script>
