<template>
    <div id="app">
        <router-view/>
    </div>
</template>
<script>
export default {
  name:"app"
  
}
</script>
<style>
    *{
        margin:0;
        padding:0;
        user-select: none;
    }
    .activelink:hover{
        cursor: pointer;
        color:#1890ff
    }
</style>
